<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<form action="/create/product" method="post" th:object="${createProductForm}">
    <label>Name</label>
    <input type="text" name="name" th:field="*{name}">
    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:error="*{name}">The name must more than 2 and less than 10 and not required!</span><br>
    <label>Price</label>
    <input type="text" name="price" th:field="*{price}">
    <span style="color: red" th:if="${#fields.hasErrors('price')}" th:error="*{price}">The price is more than 18</span><br>
    <button type="submit">Create</button>
</form>
</body>
</html>